{% extends "_layout.html" %}
{% block content %}

<div id="edit-page">
    <div class="card mx-auto p-3 edit-card col-md-6">
        <div class='text-center'>
            <img class="rounded-circle" style="width: 250px; height: 250px;"
                src="{{current_user.profile_image_path}}" />
            <h1>@{{current_user.username}}</h1>
        </div>
        <div class="text-center">
            <form action="{{url_for('pictures.uploaded')}}" method="POST" enctype="multipart/form-data">
                <input type='hidden' name="csrf_token" value="{{csrf_token()}}" />
                <input class="btn btn-light" type="file" name="user_file">
                <button class="btn btn-success" type="submit">Upload</button>
            </form>
        </div>
        <div class="middle-card">
            <div>
                <form action="{{ url_for('users.update') }}" method="POST">
                    <input type='hidden' name="csrf_token" value="{{csrf_token()}}" />
                    <div class="form-group">
                        <label for="username">Username: @{{current_user.username}}</label>
                        <input name='username' type="text" class="form-control" id="username"
                            placeholder="Edit username...">
                    </div>
                    <div class="form-group">
                        <label for="name">Name: {{current_user.name}}</label>
                        <input name='name' type="text" class="form-control" id="name" placeholder="Edit name...">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: {{current_user.email}}</label>
                        <input name='email' type="email" class="form-control" id="email" placeholder="Edit email...">
                    </div>
                    <div class="form-group">
                        <label for="description">Description: {{current_user.description}}</label>
                        <input name='description' type="text" class="form-control" id="description"
                            placeholder="Edit description...">
                    </div>
                    <div class="form-group form-check">
                        {% if current_user.status == "Private" %}
                        <input value="private" name="status" type="checkbox" class="form-check-input" id="exampleCheck1"
                            checked />
                        {% else %}
                        <input value="private" name="status" type="checkbox" class="form-check-input"
                            id="exampleCheck1">
                        {% endif %}
                        <label class="form-check-label" for="exampleCheck1">Make Private</label>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}