{% extends "_layout.html" %}
{% block content %}
<div id="profile-page">
    <div class="container">
        <div class='row top-content'>
            <div class="col-md-4">
                <img class="rounded-circle profile-image" style="width: 180px; height: 180px;"
                    src="{{user.profile_image_path}}" />
            </div>
            <div class="col-md-6">
                <div class="card bio border-0 top-details">
                    <h1>@{{user.username}}</h1>
                    <h5>{{user.name}}</h5>
                    <div class='card border-0 description'>{{user.description}}</div>
                    <ul>
                        <li><span class='counts'>{{user.pictures | length}}</span> posts</li>&nbsp;&nbsp;
                        <li><span class='counts followers'>{{user.follower | length}}</span> followers</li>&nbsp;&nbsp;
                        <li><span class='counts'>{{user.following | length}}</span> following</li>
                    </ul>
                    {% if current_user.is_authenticated and user.id != current_user.id %}
                    <button type="button" id="followbtn-{{ user.id }}"
                        class="btn {{'btn-primary' if user not in current_user.following}} {{'btn-light' if user in current_user.following}} {{'btn-info' if user in current_user.following_request}} followbtns">
                        {% if user in current_user.following %}
                        Following
                        {% elif user in current_user.following_request %}
                        Pending
                        {% else %}
                        Follow
                        {% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class='text-center'>
            {% if current_user.id == user.id %}
            <form action="{{url_for('pictures.create')}}" method="POST" enctype="multipart/form-data">
                <input type='hidden' name="csrf_token" value="{{csrf_token()}}" />
                <br></br>
                <input type="file" name="picture" class="btn btn-light">
                <br></br>
                <button type="submit" class='btn btn-primary'>Post Picture</button>
            </form>
            {% endif %}
        </div>
        <div class="row">
            <div class="container">
                {% if user.status == 'Public' or current_user.id == user.id or user in current_user.following %} <div
                    class="row picture-container-{{ user.id }} piccon">
                    {% for picture in user.ordering %}
                    <div class='m-2'>
                        {% if current_user != user %}
                        <form action="{{url_for('donations.new',id=picture.id)}}">
                            <input data-toggle="tooltip" title="Donate" data-placement="top" type='image' alt="Submit"
                                src="{{picture.post_image}}" style="width: 350px; height: 350px;" />
                        </form>
                        {% else %}
                        <img alt="ownpics" src="{{picture.post_image}}" style="width: 350px; height: 350px;" />
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <h1 class="text-center mt-5" style="font-family: monospace; text-decoration: underline;">Private Profile</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}