{% extends "_layout.html" %} {% block content %}

<head>
  <meta charset="utf-8" />
  <script src="https://js.braintreegateway.com/web/dropin/1.20.0/js/dropin.min.js"></script>
</head>

<body>
  <div id="donation-page">
    <div id="dropin-container"></div>
    <button class="btn btn-primary" id="submit-button">Donate</button>
    <form action="{{ url_for('donations.create_purchase', id=id) }}" id="this-form" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input name="this-amount" type="number" placeholder="$" />
      <input name="this-input" id="hidden-input" type="hidden" />
    </form>
  </div>

  <script>
    let myform = document.querySelector("#this-form");
    let button = document.querySelector("#submit-button");
    let myinput = document.querySelector("#hidden-input");

    braintree.dropin.create(
      {
        authorization: "{{client_token}}",
        container: "#dropin-container"
      },
      function (createErr, instance) {
        button.addEventListener("click", function () {
          instance.requestPaymentMethod(function (err, payload) {
            myinput.value = payload.nonce;
            myform.submit();
            Toastify({
              text: "Successfully donated.",
              duration: 3000,
              close: true,
              gravity: "top",
              position: 'right',
              backgroundColor: "linear-gradient(to right, #6ad190, #00a2a3)",
              stopOnFocus: true
            }).showToast();
          });
        });
      }
    );
  </script>
</body>
{% endblock %}