#edit-page {
    background-color: $secondary-accent;

    .edit-card {
        margin-top: 55px;
        border: 0;
        background-color: $secondary-accent;

        .middle-card {
            padding-top: 10px;
        }
    }
}