#homepage {
  min-height: calc(100vh - 55px);
  margin-top: 55px;
  background-color: $secondary-accent;
  padding-top: 1px;

  .profile-container {
    background-color: $secondary-accent;
    border-top: none;
  }

  .container {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .animated {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .notlogin {
    text-align: center;
    font-family: monospace;
    padding-top: 30vh;
  }

  .tap-the-symbol {
    font-style: italic;
    text-align: center;
    outline: none;
  }

  .homepage-pics {
    justify-content: center;
  }

  .top-right-content {
    margin-left: 10px;
  }

  ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
  }

  .counts {
    font-weight: bold;
  }

  li {
    display: inline;
  }

  .user-directory {
    padding: calc(50vh - 75px);
    text-align: center;
  }

  .images {
    max-width: 100%;
    height: 370px;
    object-fit: cover;
  }

  .imagewrapper {
    padding: 0;
  }

  ul {
    list-style: none;
  }

  .username {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }

  .top-section {
    display: flex;
    justify-content: center;
  }
}
