$primary-accent: #b88c87;

$primary-accent-light: lighten($primary-accent, 5%);
$primary-accent-lighter: lighten($primary-accent, 10%);
$primary-accent-lightest: lighten($primary-accent, 15%);


$secondary-accent: #f6f3f1;