{% extends "_layout.html" %}
{% block content %}

<div id="request-page">
    {% if current_user.follower_request %}
    {% for user in current_user.follower_request %}
    <div class="card w-50 mx-auto p-3 mt-4 mb-3">
        <div class="row justify-content-center">
            <h1>@{{user.username}}</h1>
            <form action="{{ url_for('users.approve_requests',id=user.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-success">Approve</button>
            </form>
            <form action="{{ url_for('users.reject_requests', id=user.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-danger">Reject</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1 class="norequest">No Pending Follower Requests.</h1>
    {% endif %}
</div>

{% endblock %}